@import "mithril-material-forms/lib/units";
@import "mithril-material-forms/lib/colors";
@import "mithril-material-forms/lib/input";
@import "mithril-material-forms/lib/typography";


.editron-wysiwig-editor {

    // .medium-editor-element { // medium-editor >= 5.17
    div[data-medium-editor-element="true"] { // medium-editor < 5.17
        @include with-input();
        padding: $mmf-height-label 0 0 0;
        min-height: 38px;

        &.medium-editor-placeholder:after {
            // @todo this is a copy of container title
            @include font-light();
            text-transform: uppercase;
            margin: 0;
            font-size: 0.7rem;
            line-height: inherit;
            flex-grow: 2;
            display: inline-block;

            color: $mmf-color--secondary;
            font-style: normal;
        }
    }

    /**
     * Content styling
     */
     // .medium-editor-element { // medium-editor >= 5.17
     div[data-medium-editor-element="true"] { // medium-editor < 5.17
        font-family: "Helvetica Neue", "Helvetica", "Arial";
        line-height: 1.4em;
        color: rgba($mmf-color--dark, $mmf-opacity--primary);

        *:first-child {
            margin-top: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }

        p {
            margin: 0 0 1em 0;
        }

        h1 {
            font-size: 1.75em;
            margin: 1em 0 .25em 0;
        }

        h2 {
            font-size: 1.25em;
            margin: 1em 0 .25em 0;
        }

        h3 {
            font-size: 1em;
            margin: 1em 0 .25em 0;
        }
    }
}

.medium-editor-toolbar {

    &,
    .medium-editor-toolbar-form,
    .medium-editor-toolbar-input {
        background-color: $color-elevation-8;
        border-color: $color-elevation-4;
    }

    .medium-editor-action {
        border-color: $color-elevation-4;

        &:hover {
            background-color: darken($mmf-color--secondary, $mmf-color-distance--focus);
        }
    }

    .medium-editor-button-active {
        background-color: $mmf-color--secondary !important;
    }
}
